
div.modal-body {
    text-align: left;
}

.faq-question {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.faq-response {
    white-space: pre-line;
}
